header
    img.logo(src="https://comps.canstockphoto.com/treble-clef-and-bass-clef-on-a-five-line-vector-clipart_csp71110508.jpg" alt="Clefs" )
    nav 
        ul.nav__links
            li 
                a(href="/exercise") Go to your exercises
            li 
                a(href="/") Home
    a.cta(href="#") 
        button Contact