doctype html
html(lang="en")
  head
    title= title

    link(rel="stylesheet" type="text/css" href="/styles.css")
  body
    

    include ../partials/_header
    h2 Practice Generation Options
    
    if todayMade
      p= setupParams.mode
      p= practice.data
    else
      p Input the practice parameters for today or the next few sessions
    