doctype html
html(lang="en")
  head
    title= title

    link(rel="stylesheet" type="text/css" href="/styles.css")
  body
    

    include ../partials/_header
    .welcome__container
        .welcome__card 
            h3 Login here for demo!
        .welcome__card 
            h3 Login here or register as a new user!

